---
import BaseLayout from "../layouts/BaseLayout.astro";
import TagList from "../components/TagList.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

const formattedDate = (pubDate: any) => {
	return pubDate.toString().slice(0,10).replaceAll("-", "")
}

// sort all posts descending
allPosts.sort((a, b) => formattedDate(b.data.pubDate) - formattedDate(a.data.pubDate))

---

<BaseLayout
  title="Javascript is weird"
	description="home"
>
	<div class="flex flex-col md:flex-row md:justify-between gap-5">

		<section class="flex-1">

			<h2 class="mb-5">Lista de posts</h2>

			<ul class="flex flex-col gap-8">
				{allPosts.map((post) => 
					<a href={`/posts/${post.slug}`} class="flex gap-5 hover:bg-gray-200 items-center [&>p]:hover:text-slate-800">
						<div class="flex  items-center">
							<div class="flex flex-col text-center text-slate-500 text-2xl pr-2 border-r border-slate-500">
								{post.data.pubDate.toString().slice(4,10).split("-").map((date: string) => 
									<p>{date}</p>
								)}
							</div>
						</div>
						<div class="flex flex-col">
							<h3 class="mb-1 mt-0">{post.data.title}</h3>
							<p class="text-base text-slate-800">{post.data.author}</p>
						</div>
					</a>
				)}
			</ul>
		</section>

		<section class="order-first md:order-last flex-none">
			<p class="text-xl font-semibold mb-5">Lista de etiquetas</p>
			<TagList tags={tags} />
		</section>

	</div>
</BaseLayout>
