---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout 
  title={frontmatter.title} 
  description={frontmatter.description}
>
  <h2>{frontmatter.title}</h2>
  <div class="flex items-center space-x-4 my-9">
    <picture>
      <img class="w-11 h-11 rounded-full" src={`https://github.com/${frontmatter.author}.png`} />
    </picture>
    <div>
      <a href={`https://github.com/${frontmatter.author}`} class="text-slate-800 hover:text-slate-800 font-semibold hover:underline" target='_blank' rel='noreferrer'>{frontmatter.author}</a>
      <p class="mt-0.5 text-sm leading-6">Publicado el {frontmatter.pubDate.toString().slice(0,10)}</p>
    </div>
  </div>
  <slot />
</BaseLayout>
